.sectionDemo{
    height: 100%;
    margin-bottom: 5vh;

}

.sectionDemo h1{
    color: #856DA6;
    width: 95%;
    font-size: 4rem;
    animation: slogan 1s linear;
    text-align: center;
}

.sectionDemo section{

    top: 30%;
    left: 10%;
}


.sectionDemo div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sectionDemo div h3{
    color: #F2DCE2;
    height: 20vh;
    width: 50%;
    border-radius: 10px;
    margin: 2vh;
    text-align: center;
    background-color:#5C64F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slogan 2s linear;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.5s;
}

.sectionDemo div h3:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@keyframes slogan {
    0%{
        transform: translateY(20vh);
        opacity: 0;
    }
    80%{
        transform: translateY(2vh);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}