


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline rgb(187, 134, 255);
    margin-top: 10vh;
}

.card{
    background-color: bisque;
    padding: 2vw;
    margin: 1vh;
    width: 50%;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card:hover{
    transform: scale(1.05);
}

.btn{
    border: none;
    border-radius: 10px;
    background-color: #856DA6;
    color: #F2DCE2;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: #F2DCE2;;
    color: #856DA6;
}